services:

  database:
    container_name: keycloak_database
    hostname: keycloak_database
    image: postgres:18.1-trixie
    restart: unless-stopped
    command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf"]
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U keycloak -d keycloak && psql -U keycloak -d keycloak -c 'SELECT 1'"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./config/postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - database:/var/lib/postgresql:rw
    networks:
      - database

  keycloak:
    container_name: keycloak
    hostname: keycloak
    build: ./build
    restart: unless-stopped
    command: ["start-dev", "--spi-theme-static-max-age=-1", "--spi-theme-cache-themes=false", "--spi-theme-cache-templates=false"]
    healthcheck:
      test: ["CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/9000;echo -e 'GET /health/ready HTTP/1.1\r\nhost: http://localhost\r\nConnection: close\r\n\r\n' >&3;if [ $? -eq 0 ]; then echo 'Healthcheck Successful';exit 0;else echo 'Healthcheck Failed';exit 1;fi;"]
      start_period: 10s
      interval: 30s
      retries: 3
      timeout: 5s
    ports:
      - 8080:8080
    environment:
      REGISTRY_GROUP_PREFIX: registry- #registry-
      REGISTRY_CATALOG_AUDIENCE: editor #user|editor
      REGISTRY_NAMESPACE_SCOPE: group,domain,sld,username #group|domain|sld|username
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_LOG_LEVEL: info #info|debug|trace
      KC_LOG_CONSOLE_OUTPUT: default # json|default
      KC_LOG_FILE_OUTPUT: default # json|default
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://database:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    depends_on:
        - database
    networks:
      - database

volumes:
  database:
    
networks:
  database: